{% extends 'base.html.twig' %}

{% block title %}Servico{% endblock %}

{% block body %}
    <h1>Servico</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ servico.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ servico.nome }}</td>
            </tr>
            <tr>
                <th>Detalhe</th>
                <td>{{ servico.detalhe }}</td>
            </tr>
            <tr>
                <th>Preco</th>
                <td>{{ servico.preco }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>
                    {% for foto in servico.foto %}
                        <img src="{{ asset('uploads/' ~ foto) }}" alt="Foto" style="width: 150px; height: 150px; object-fit: cover; margin-right: 10px; border-radius: 8px;">
                    {% else %}
                        Nenhuma imagem enviada.
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_servico_index') }}">back to list</a>

    <a href="{{ path('app_servico_edit', {'id': servico.id}) }}">edit</a>

    {{ include('servico/_delete_form.html.twig') }}
{% endblock %}
